{% extends 'base.html.twig' %}

{% block title %}Edit Lecture
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h1>Edit Lecture</h1>
					</div>
					<div class="card-body">
						<form action="{{path('lecture_update', {id: lecture.id})}}" method="POST">
							<label>Title:</label>
							<input type="text" class="form-control" name="lecture_title" value="{{lecture.title}}"></input>
							<small class="form-text text-muted">Title</small>
							<label>Description:</label>
							<textarea name="lecture_description" id="summernote">{{lecture.description}}</textarea>
							<small class="form-text text-muted">Lecture description</small>
							<button type="submit" class="btn btn-primary">Edit Lecture</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
