@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.btn-dark {
    margin-bottom: 20px;
}

.list-group-item {
    &__line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        span {
            font-size: 24px;
        }
        &__buttons {
            display: flex;
            .btn {
                margin: 7px;
            }
        }
    }
}

.btn-primary {
    margin-top: 20px;
}
.form-check-input.custom {
    margin-left: 10px;
}

.form-check.custom {
    padding-left: 0;
}

form.sort-form {
    display: flex;
    align-content: center;
    button {
        height: 38px;
        margin: 0 10px;
    }
}